        @page{
            size: A4;
            margin:0;
            margin-bottom:-10mm;
        }
        @font-face {
            font-family: 'FiraSans';
            src: url('classpath:static/fonts/FiraSans-Regular.ttf') format('truetype');
        }
         @font-face {
            font-family: 'FiraSans';
            src: url('classpath:static/fonts/FiraSans-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
         }
          @font-face {
            font-family: 'FiraSans';
            src: url('classpath:static/fonts/FiraSans-Medium.ttf') format('truetype');
            font-weight: regular;
            font-style: normal;
         }
         @font-face {
             font-family: 'FiraSans';
             src: url('classpath:static/fonts/FiraSans-Bold.ttf') format('truetype');
             font-weight: bold;
             font-style: normal;
         }
          @font-face {
             font-family: 'FiraSans';
             src: url('classpath:static/fonts/FiraSans-SemiBold.ttf') format('truetype');
             font-weight: semiBold;
             font-style: normal;
          }
         @font-face {
             font-family: 'FiraSans';
             src: url('classpath:static/fonts/FiraSans-Italic.ttf') format('truetype');
             font-weight: normal;
             font-style: italic;
         }
         @font-face {
             font-family: 'FiraSans';
             src: url('classpath:static/fonts/FiraSans-BoldItalic.ttf') format('truetype');
             font-weight: bold;
             font-style: italic;
         }
        .image-container {
             margin-top: 4mm;
             margin-bottom: -10mm;
             display: flex;
             flex-wrap: nowrap; /* Forces images to stay in a single row */
             gap: 10px; /* Adjust space between images */
             overflow-x: auto; /* Allows horizontal scrolling if needed */
        }
        .MoreInformation {
            margin-Top: -4mm;
        }
        .image-margin-left{
                  margin-right: 4mm;
        }
        .image-container img {
             width: 150px;
             height: 150px;
             object-fit: cover;
             background: #EFEBF9;
        }
        .text-align-left {
            text-align: left;
        }
        .pdf-style {
            padding: 2.5rem 2.5rem;
            margin-bottom: 0px;
            background-image: url('classpath:static/assets/Img/Group35614.png');
            background-size: none;
            background-repeat: no-repeat;
            background-position: center;
            background-position: center; /* Position the image in the bottom-right corner */
            padding: 20px; /* Optional padding to avoid overlap with content */
            box-sizing: border-box;
            max-width: 100%; /* Ensure it doesn’t exceed the page width */
            position: relative;
            width: 100%;
            height: 297mm;
            page-break-after: always;
        }
        .site-image {
            width: 85%;
            display: block;
            margin: 0 auto; /* Centers the image horizontally */
        }

        .Last-Page-pdf-style {
            padding: 2.5rem 2.5rem;
            page-break-after: inherit;
            height: 305mm;
            width: 210mm;
        }
        body {
            font-family: 'FiraSans', sans-serif;
            margin: 0;
            padding: 0px;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            padding: 0px;
            margin: 0px;
            font-weight: 600;
        }
        p {
            padding: 0px;
            margin: 0px;
            font-weight: 400;
            font-size: 1.25rem;
        }

        h1 {
            font-size: 2.5rem;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 1rem;
            border-radius: 8px;
        }

        th {
            color: #332269;
            font-weight: 600;
            text-align: center;
            padding: 12px 8px;
            font-size: 0.85rem;
            background: #EFEBF9;
            white-space: nowrap;
        }

        td {
            padding: 8px 8px;
            color: #6A6A6A;
            font-size: 14px;
            line-height: 18.5px;
        }

        th,
        td {
            border: 1px solid #c2aff1;
        }

        ul {
            margin-top: 4px;
        }

        li {
            color: #19577C;
            font-size: 1rem;
        }

        td>ul {
            margin: 0px;
            padding-left: 20px;
        }

        td>ul>li {
            font-size: 0.75rem;
            color: #6A6A6A;
        }

        .logo-container {
            text-align: right; /* Align the logo to the right */
            margin-bottom: 20px; /* Add spacing below the logo */
        }

        .logo-img {
            display: inline-block; /* Prevent unnecessary spacing */
            width: 120px; /* Ensure the logo size remains consistent */
        }



        .orangeText {
            color:  #DC5753;
            font-weight: 800;
        }
        .orangeText-margin {
            color:  #DC5753;
            font-weight: 800;
            margin-top: -10mm
        }

        .main-page-heading {
            color:  #DC5753;
            width: 70%;
            font-weight: semiBold;
            font-style: normal;
        }

        .voiletText {
            color: #377DA8;
            font-weight: 700
        }

        .blueText {
            color: #19577C;
            font-size: 1.3rem;
            font-weight: regular;
            font-style: normal;
            margin-bottom: 10px;
            line-height: 1.5; /* Adjust this value to increase/decrease spacing */
         }

        .blueText600 {
           color: #19577C;
           font-size: 1.3rem;
           font-weight: regular;
           font-style: normal;
           margin-bottom: 10px;
           font-weight: 600;
       }

        .blueText32px {
            color: #19577C;
            font-size: 32px;
           margin-bottom: 20px;

        }
        .blueText18px {
            color: #19577C;
            font-size: 18px;
        }

        .redText {
            color: #FF0000;
        }

        .orangeTextNormal {
            color:  #DC5753;
        }

        .greenText {
            color: #1EC600;
        }

         .table-of-content{
             margin-top: 30px;
         }

        .pt-8 {
            padding-top: 1rem;
        }

        .pt-16 {
            padding-top: 2rem;
        }

        .pb-8 {
            padding-bottom: 1rem;
        }

        .mt-8 {
            margin-top: 8px;
        }

        .mt-20 {
            margin-top: 30px;
        }

        .d-flex {
            display: flex;
        }

        .gap-8 {
            gap: 16px;
        }

        .text-align-end {
            align-items: right;
            text-align: end;
            display: flex;
            flex-direction: column;
        }

        .text-center {
             text-align: center;
        }

        .text-align-center {
            text-align: center;
        }

        .d-flex-col {
            display: flex;
            flex-direction: column;
/*            display: flex;
            flex-direction: column;
            align-items: center; *//* Centers content horizontally *//*
            justify-content: center; *//* Centers content vertically *//*
            height: 100vh; *//* Makes the container take the full viewport height */
        }

        .d-flex-col-center {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 70%;
            margin: 0 auto; /* Centers the container within its parent */
        }

        .d-flex-col-right {
                    display: flex;
                    flex-direction: column;
                    align-items: right;
                    justify-content: right;
                    margin: 0 auto; /* Centers the container within its parent */
        }


        .fill-available {
            height: -webkit-fill-available;
        }

        .w-90p {
            width: 90%;
        }

        .w-50p {
            width: 50%;
        }

        .ml-auto {
            margin-left: auto;
        }

        .text-uppercase {
            text-transform: uppercase;
        }

        .font-normal {
            font-size: 1rem;
        }

        .font-w-600 {
            font-weight: 600;
        }

        .note-container {
            background: #EFEBF9;
            padding: 4px;
        }

        .note-container>p {
            font-size: 12px;
            color: #6A6A6A;
        }

        .table-with-left-header>tbody>tr>th {
            text-align: start;
        }
        .backImg{
            background-image: url('./assets/Img/Vector.png'),url('./assets/Img/Group35614.png'),url('./assets/Img/asset3.png');
            background-repeat: no-repeat;
            background-size: auto;
            background-origin: padding-box;
            background-attachment: scroll;
            background-position: left top, right bottom, left bottom;
            background-position-x: left, right, left;
        }
        @media print {
            .backImg {
                -webkit-print-color-adjust: exact; /* Chrome, Safari */
                print-color-adjust: exact;         /* Firefox */
                background-image: url('./assets/Img/Vector.png'), url('classpath:static/assets/Img/Group35614.png'),url('./assets/Img/asset3.png');
                background-repeat: no-repeat;
                background-size: auto;
                background-origin: padding-box;
                background-attachment: scroll;
                background-position: left top, right bottom, left bottom;
                background-position-x: left, right, left;
            }

            .page-content {
                    page-break-after: always;
                }

            /* Footer to display page numbers */
            .page-footer {
                position: fixed;
                bottom: 0;
                width: 100%;
                text-align: center;
                font-size: 12px;
            }

            /* Counter for page numbers */
            body {
                counter-reset: page;
            }
            .appg-logo {
                margin-top: 4mm;
                width: 50px;
            }
            .page-number {
                position: absolute;
                bottom: 20px;
                right: 20px;
                left:700px
                font-size: 18px;
                color: #000;
                float: right;
            }
        }
        .backImg0{
          width: 100%;
            max-width: 100%;
            height: auto;
            margin: 0;
            padding: 20px; /* Adjust padding to ensure no overflow */
            background-image: url('./assets/Img/Vector.png'),url('./assets/Img/Group35614.png'),url('./assets/Img/asset3.png');
            background-repeat: no-repeat;
            background-size: 340px 400px, auto, auto;
            background-origin: padding-box;
            background-attachment: scroll;
            background-position: left top, right bottom, left bottom;
            background-position-x: left, right, left;
        }
        @media print {
            .backImg0 {
                -webkit-print-color-adjust: exact; /* Chrome, Safari */
                print-color-adjust: exact;         /* Firefox */
                background-image: url('./assets/Img/Vector.png'), url('./assets/Img/Group35614.png'),url('./assets/Img/asset3.png');
                background-repeat: no-repeat;
                background-size: 340px 400px, auto, auto;
                background-origin: padding-box;
                background-attachment: scroll;
                background-position: left top, right bottom, left bottom;
                background-position-x: left, right, left;
                overflow:hidden;
            }
        }

        .backImg1{
            background-image: url('./assets/Img/APLogoBack.png'),url('./assets/Img/Group35614.png');
            background-repeat: no-repeat;
            background-size: auto;
            background-origin: padding-box;
            background-attachment: scroll;
            background-origin: content-box;
            background-position: center center, right bottom;
            background-position-x: center ,right;

        }
        @media print {
            .backImg1 {
                -webkit-print-color-adjust: exact; /* Chrome, Safari */
                print-color-adjust: exact;         /* Firefox */
                background-image: url('./assets/Img/APLogoBack.png'),  url('./assets/Img/Group35614.png');
                background-repeat: no-repeat;
                background-size: auto;
                background-origin: padding-box;
                background-attachment: scroll;
                background-origin: content-box;
                background-position: center center, right bottom;
                background-position-x: center, right;

            }
        }

        .content-background {
            background-image: url('@{classpath:static/assets/Img/content.png}'); /* adjust the path if necessary */
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left;
            margin-left: 0;

        }
        .backImg11{
            background-image: url('./assets/Img/CONTENT.png');
            background-repeat: no-repeat;
            background-size: auto;
            background-origin: padding-box;
            background-attachment: scroll;
            background-origin: content-box;
            background-position: left top;
            background-position-x: left;

        }
        @media print {
            .backImg11 {
                -webkit-print-color-adjust: exact; /* Chrome, Safari */
                print-color-adjust: exact;         /* Firefox */
                background-image: url('./assets/Img/CONTENT.png');
                background-repeat: no-repeat;
                background-size: auto;
                background-origin: padding-box;
                background-attachment: scroll;
                background-origin: content-box;
                background-position: left top;
                background-position-x: left;

            }
        }
        .backImg2{
            background-image: url('./assets/Img/Vector.png'),url('./assets/Img/asset4.png'), url('./assets/Img/Group35614.png');
            background-repeat: no-repeat;
            background-size: 340px 400px, auto, auto;
            background-origin: padding-box;
            background-attachment: scroll;
            background-position: left top, right top, right bottom;
            background-position-x: left, right, right;
        }
        @media print {
            .backImg2 {
                -webkit-print-color-adjust: exact; /* Chrome, Safari */
                print-color-adjust: exact;         /* Firefox */
                background-image: url('./assets/Img/Vector.png'), url('./assets/Img/asset4.png'), url('./assets/Img/Group35614.png');
                background-repeat: no-repeat;
                background-size: 340px 400px, auto, auto;
                background-origin: padding-box;
                background-attachment: scroll;
                background-position: left top, right top, right bottom;
                background-position-x: left, right, right;
            }
        }
        .backImg3{
            background-image: url('./assets/Img/Vector.png'),url('./assets/Img/asset5.png'), url('./assets/Img/Group35614.png');
            background-repeat: no-repeat;
            background-size: 340px 400px, auto, auto;
            background-origin: padding-box;
            background-attachment: scroll;
            background-position: left top, left bottom, right bottom;
            background-position-x: left, left, right;
        }
        @media print {
            .backImg3 {
                -webkit-print-color-adjust: exact; /* Chrome, Safari */
                print-color-adjust: exact;         /* Firefox */
                background-image: url('./assets/Img/Vector.png'), url('./assets/Img/asset5.png'), url('./assets/Img/Group35614.png');
                background-repeat: no-repeat;
                background-size: 340px 400px, auto, auto;
                background-origin: padding-box;
                background-attachment: scroll;
                background-position: left top, left bottom, right bottom;
                background-position-x: left, left, right;
            }
        }
        .backImg4{
            background-image: url('./assets/Img/Vector.png'),url('./assets/Img/asset6.png'), url('./assets/Img/Group35614.png');
            background-repeat: no-repeat;
            background-size: 340px 400px, auto, auto;
            background-origin: padding-box;
            background-attachment: scroll;
            background-position: left top, left bottom, right bottom;
            background-position-x: left, left, right;
        }
        @media print {
            .backImg4{
                -webkit-print-color-adjust: exact; /* Chrome, Safari */
                print-color-adjust: exact;         /* Firefox */
                background-image: url('./assets/Img/Vector.png'), url('./assets/Img/asset6.png'), url('./assets/Img/Group35614.png');
                background-repeat: no-repeat;
                background-size: 340px 400px, auto, auto;
                background-origin: padding-box;
                background-attachment: scroll;
                background-position: left top, left bottom, right bottom;
                background-position-x: left, left, right;
            }
        }
        .backImg5{
            background-image: url('./assets/Img/Vector.png'),url('./assets/Img/asset7.png'), url('./assets/Img/Group35614.png');
            background-repeat: no-repeat;
            background-size: 340px 400px, auto, auto;
            background-origin: padding-box;
            background-attachment: scroll;
            background-position: left top, left bottom, right bottom;
            background-position-x: left, left, right;
        }
        @media print {
            .backImg5{
                -webkit-print-color-adjust: exact; /* Chrome, Safari */
                print-color-adjust: exact;         /* Firefox */
                background-image: url('./assets/Img/Vector.png'), url('./assets/Img/asset7.png'), url('./assets/Img/Group35614.png');
                background-repeat: no-repeat;
                background-size: 340px 400px, auto, auto;
                background-origin: padding-box;
                background-attachment: scroll;
                background-position: left top, left bottom, right bottom;
                background-position-x: left, left, right;
            }
        }
        .backImg6{
            background-image: url('./assets/Img/Vector.png'),url('./assets/Img/asset8.png'), url('./assets/Img/Group35614.png');
            background-repeat: no-repeat;
            background-size: 340px 400px, auto, auto;
            background-origin: padding-box;
            background-attachment: scroll;
            background-position: left top, left bottom, right bottom;
            background-position-x: left, left, right;
        }
        @media print {
            .backImg6{
                -webkit-print-color-adjust: exact; /* Chrome, Safari */
                print-color-adjust: exact;         /* Firefox */
                background-image: url('./assets/Img/Vector.png'), url('./assets/Img/asset8.png'), url('./assets/Img/Group35614.png');
                background-repeat: no-repeat;
                background-size: 340px 400px, auto, auto;
                background-origin: padding-box;
                background-attachment: scroll;
                background-position: left top, left bottom, right bottom;
                background-position-x: left, left, right;
            }
        }
        .backImg7{
            background-image: url('./assets/Img/Vector.png'),url('./assets/Img/asset9.png'), url('./assets/Img/Group35614.png');
            background-repeat: no-repeat;
            background-size: 340px 400px, auto, auto;
            background-origin: padding-box;
            background-attachment: scroll;
            background-position: left top, left bottom, right bottom;
            background-position-x: left, left, right;
        }
        @media print {
            .backImg7{
                -webkit-print-color-adjust: exact; /* Chrome, Safari */
                print-color-adjust: exact;         /* Firefox */
                background-image: url('./assets/Img/Vector.png'), url('./assets/Img/asset9.png'), url('./assets/Img/Group35614.png');
                background-repeat: no-repeat;
                background-size: 340px 400px, auto, auto;
                background-origin: padding-box;
                background-attachment: scroll;
                background-position: left top, left bottom, right bottom;
                background-position-x: left, left, right;
            }
        }
        .backImg8{
            background-image: url('./assets/Img/Vector.png'), url('./assets/Img/asset11.png'), url('./assets/Img/asset10.png'), url('./assets/Img/Group35614.png');
            background-repeat: no-repeat;
            background-size: 340px 400px, auto, auto, auto;
            background-origin: padding-box;
            background-attachment: scroll;
            background-position: left top,right top, left bottom, right bottom;
            background-position-x: left, right, left, right;
        }
        @media print {
            .backImg8{
                -webkit-print-color-adjust: exact; /* Chrome, Safari */
                print-color-adjust: exact;         /* Firefox */
                background-image: url('./assets/Img/Vector.png'), url('./assets/Img/asset11.png'), url('./assets/Img/asset10.png'), url('./assets/Img/Group35614.png');
                background-repeat: no-repeat;
                background-size: 340px 400px, auto, auto, auto;
                background-origin: padding-box;
                background-attachment: scroll;
                background-position: left top,right top, left bottom, right bottom;
                background-position-x: left, right, left, right;
                z-index: -1;
            }
        }
        .backImg9{
            background-image: url('./assets/Img/Vector.png'), url('./assets/Img/asset16.png'), url('./assets/Img/asset14.png'), url('./assets/Img/Group35614.png');
            background-repeat: no-repeat;
            background-size: 340px 400px, auto, auto, auto;
            background-origin: padding-box;
            background-attachment: scroll;
            background-position: left top,right top, left bottom, right bottom;
            background-position-x: left, right, left, right;
        }
        @media print {
            .backImg9{
                -webkit-print-color-adjust: exact; /* Chrome, Safari */
                print-color-adjust: exact;         /* Firefox */
                background-image: url('./assets/Img/Vector.png'), url('./assets/Img/asset16.png'), url('./assets/Img/asset14.png'), url('./assets/Img/Group35614.png');
                background-repeat: no-repeat;
                background-size: 340px 400px, auto, auto, auto;
                background-origin: padding-box;
                background-attachment: scroll;
                background-position: left top,right top, left bottom, right bottom;
                background-position-x: left, right, left, right;
                z-index: -1;
            }
        }
        .backImg10{
            background-image: url('./assets/Img/Vector.png'), url('./assets/Img/asset19.png'), url('./assets/Img/asset20.png'), url('./assets/Img/Group35614.png');
            background-repeat: no-repeat;
            background-size: 340px 400px, auto, auto, auto;
            background-origin: padding-box;
            background-attachment: scroll;
            background-position: left top,right top, left bottom, right bottom;
            background-position-x: left, right, left, right;
        }
        @media print {
            .backImg10{
                -webkit-print-color-adjust: exact; /* Chrome, Safari */
                print-color-adjust: exact;         /* Firefox */
                background-image: url('./assets/Img/Vector.png'), url('./assets/Img/asset19.png'), url('./assets/Img/asset20.png'), url('./assets/Img/Group35614.png');
                background-repeat: no-repeat;
                background-size: 340px 400px, auto, auto, auto;
                background-origin: padding-box;
                background-attachment: scroll;
                background-position: left top,right top, left bottom, right bottom;
                background-position-x: left, right, left, right;
                z-index: -1;
            }
        }
        .backImg11{
            background-image: url('./assets/Img/Vector.png'), url('./assets/Img/asset24.png'), url('./assets/Img/asset23.png'), url('./assets/Img/Group35614.png');
            background-repeat: no-repeat;
            background-size: 340px 400px, auto, auto, auto;
            background-origin: padding-box;
            background-attachment: scroll;
            background-position: left top,right top, left bottom, right bottom;
            background-position-x: left, right, left, right;
        }
        @media print {
            .backImg11{
                -webkit-print-color-adjust: exact; /* Chrome, Safari */
                print-color-adjust: exact;         /* Firefox */
                background-image: url('./assets/Img/Vector.png'), url('./assets/Img/asset24.png'), url('./assets/Img/asset23.png'), url('./assets/Img/Group35614.png');
                background-repeat: no-repeat;
                background-size: 340px 400px, auto, auto, auto;
                background-origin: padding-box;
                background-attachment: scroll;
                background-position: left top,right top, left bottom, right bottom;
                background-position-x: left, right, left, right;
                z-index: -1;
            }
        }
        .backImg12{
            background-image: url('./assets/Img/Vector.png'), url('./assets/Img/asset26.png'), url('./assets/Img/asset25.png'), url('./assets/Img/Group35614.png');
            background-repeat: no-repeat;
            background-size: 340px 400px, auto, auto, auto;
            background-origin: padding-box;
            background-attachment: scroll;
            background-position: left top,right top, left bottom, right bottom;
            background-position-x: left, right, left, right;
        }
        @media print {
            .backImg12{
                -webkit-print-color-adjust: exact; /* Chrome, Safari */
                print-color-adjust: exact;         /* Firefox */
                background-image: url('./assets/Img/Vector.png'), url('./assets/Img/asset26.png'), url('./assets/Img/asset25.png'), url('./assets/Img/Group35614.png');
                background-repeat: no-repeat;
                background-size: 340px 400px, auto, auto, auto;
                background-origin: padding-box;
                background-attachment: scroll;
                background-position: left top,right top, left bottom, right bottom;
                background-position-x: left, right, left, right;
                z-index: -1;
            }
        }

        .container {
           width: 100%;
           max-width: 100%;
           margin: 0 auto;
        }


        .evaluation-table {
                 width: 100%;
                 border-collapse: collapse;
                 font-family: FiraSans;
                 table-layout: fixed;
             }

             .evaluation-table th {
                 background-color: #D3D3D3;
                 padding: 6px;
                 text-align: center;
                 border: 1px solid black;
                 font-size: 14px;
                 color: navy;
             }

             .evaluation-table td {
                 padding: 6px;
                 border: 1px solid black;
                 text-align: center;
                 font-size: 12px;
             }

                  .rating-cell {
                         width: 10%;
                     }

         .description-cell {
             width: 23%;
         }
        .green-rating { background-color: #90EE90; }
        .yellow-rating { background-color: #FFD700; }
        .red-rating { background-color: #FF6B6B; }
        .pink-rating { background-color: #FFB6C1; }

        .table-header {
                 background-color: #D3D3D3;
                 text-align: center;
                 padding: 8px;
                 font-weight: bold;
                 border: 1px solid black;
                 margin-bottom: 5px;
                 font-size: 16px;
        }
        .COATINGEVALUATION{
            width: 50%;
            margin: 1% 25%;
            border-collapse: collapse;
        }
        .COATINGEVALUATION thead tr th{
            text-align: center;
        }
        .COATINGEVALUATION tbody tr td{
            text-align: center;
            color:#fff;
        }
        .COATINGEVALUATION tbody{
            background: linear-gradient(180deg, #FF0000 16.12%, rgba(255, 157, 0, 0.73) 47.35%, rgba(255, 157, 0, 0.73) 65%, rgba(30, 198, 0, 0.5) 100%);

        }
        .COATINGEVALUATION {
            border: 1.5px solid rgba(51, 34, 105, 1);
            border-radius: 20px;
        }
